<h2>Add a Device</h2>

<form #addForm="ngForm" (ngSubmit)="addDevice(addForm)">
    <div class="form-group">
        <label for="deviceName">Name:</label>
        <input type="text" name="name" id="device-name-id" ngModel>
    </div>
    <div class="form-group">
        <label for="deviceBrand">Brand:</label>
        <input type="text" name="brand" id="device-brand-id" ngModel>
    </div>
    <div class="form-group">
        <label for="deviceBrand">Model:</label>
        <input type="text" name="model" id="device-model-id" ngModel>
    </div>
    <div class="form-group">
        <label for="deviceBrand">Year:</label>
        <input type="text" name="year" id="device-year-id" ngModel>
    </div>
    <div class="form-group">
        <label for="deviceBrand">Serial:</label>
        <input type="text" name="serial" id="device-serial-id" ngModel>
    </div>
    <button type="submit">Add Device</button>
</form>