<h5 style="margin-left: 640px;">Update Device Info</h5>


<div class="card" style="width: 30rem; margin-left: 580px; width: 300px; height: 450px; margin-top:-5px;">
    <div class="card-body">
        <form [formGroup]="updateForm" (ngSubmit)="updateDevice()">
            <div class="mb-3">
                <label for="name" class="form-label">Device Name:</label>
                <input formControlName="name" class="form-control" type="text" style="width: 200px; margin-left:30px;" id="name">
                <label for="brand" class="form-label">Brand:</label>
                <input formControlName="brand" class="form-control" type="text" style="width: 200px; margin-left:30px;" id="brand">
                <label for="model" class="form-label">Model:</label>
                <input formControlName="model" class="form-control" type="text" style="width: 200px; margin-left:30px;" id="model">
                <label for="year" class="form-label">Year:</label>
                <input formControlName="year" class="form-control" type="text" style="width: 200px; margin-left:30px;" id="year">
                <label for="serial" class="form-label">Serial:</label>
                <input formControlName="serial" class="form-control" type="text" style="width: 200px; margin-left:30px;" id="serial"> <br>
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
</div>